# Dependencies
/node_modules

# Next.js build output
/.next/
/out/

# Production build files
/build

# Local environment variables
# Never commit secrets!
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files from this project and others
*.log
dataconnect-debug.log
firebase-debug.log
firestore-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Genkit cache
.genkit/cache/

# Misc
.DS_Store
