@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-primary text-text-primary;
  }
}

/* ============================================= */
/* Återanvändbar klass för att dölja scrollbars */
/* ============================================= */

/* För Webkit-baserade webbläsare (Chrome, Safari, Edge) */
.custom-scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* För Firefox och andra */
.custom-scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}
